*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

body .playerActions {
  display: flex;
  gap: 10px;
}

body #gameChoice, body #gamePlay {
  display: none;
}

body #gameChoice.active, body #gamePlay.active {
  display: flex;
  flex-direction: row-reverse;
}

body #gamePlay {
  gap: 50px;
}

body #gamePlay .playerContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 650px;
}

body #gamePlay .playerContainer .lifeContainer {
  width: 300px;
  display: flex;
  position: relative;
  height: 16px;
}

body #gamePlay .playerContainer .lifeContainer p {
  position: absolute;
  border: 1px solid black;
  height: 100%;
  width: 100%;
  text-align: center;
}

body #gamePlay .playerContainer .lifeContainer .life {
  background-color: #14d400;
  height: 100%;
}

body #gamePlay #monster {
  width: 300px;
  display: flex;
  justify-content: end;
  margin-bottom: 40px;
  align-items: center;
  flex-direction: column;
}

body #gamePlay #monster #ascii-gobelin, body #gamePlay #monster #ascii-zombie, body #gamePlay #monster #ascii-skeleton {
  display: none;
}

body #gamePlay #monster #ascii-gobelin.active, body #gamePlay #monster #ascii-zombie.active, body #gamePlay #monster #ascii-skeleton.active {
  display: block;
}

body #gamePlay #monster #monsterStats {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

body #gamePlay #monster #monsterStats .username {
  width: 100%;
  text-align: center;
}

body #gamePlay #monster #monsterStats .lifeContainer {
  width: 100%;
  display: flex;
  position: relative;
  height: 16px;
}

body #gamePlay #monster #monsterStats .lifeContainer p {
  position: absolute;
  border: 1px solid black;
  height: 100%;
  width: 100%;
  text-align: center;
}

body #gamePlay #monster #monsterStats .lifeContainer .life {
  background-color: #ed615f;
  height: 100%;
}

button {
  width: 100px;
  height: 25px;
}
