*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

body #gameOver {
  display: none;
}

body #gameOver.active {
  display: block;
}

body .playerActions {
  display: flex;
  gap: 10px;
}

body #gameChoice {
  display: none;
}

body #gameChoice.active {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

body #gamePlay {
  display: none;
}

body #gamePlay.active {
  display: flex;
  flex-direction: row-reverse;
}

body #gamePlay {
  gap: 50px;
}

body #gamePlay .playerContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 650px;
}

body #gamePlay .playerContainer .playerActions {
  margin-top: 15px;
}

body #gamePlay .playerContainer .playerActions button {
  width: 145px;
  height: 35px;
}

body #gamePlay .playerContainer #ascii-warrior, body #gamePlay .playerContainer #ascii-magician {
  display: none;
}

body #gamePlay .playerContainer #ascii-warrior.active, body #gamePlay .playerContainer #ascii-magician.active {
  display: block;
}

body #gamePlay .playerContainer #playerInfos {
  width: 100%;
  display: flex;
  flex-direction: column;
}

body #gamePlay .playerContainer #playerInfos p {
  text-align: center;
}

body #gamePlay .playerContainer .manaContainer {
  width: 300px;
  display: flex;
  position: relative;
  height: 22px;
}

body #gamePlay .playerContainer .manaContainer p {
  position: absolute;
  border: 1px solid black;
  height: 100%;
  width: 100%;
  text-align: center;
}

body #gamePlay .playerContainer .manaContainer .mana {
  background-color: #2dc4ea;
  height: 100%;
}

body #gamePlay .playerContainer .lifeContainer {
  width: 300px;
  display: flex;
  position: relative;
  height: 22px;
}

body #gamePlay .playerContainer .lifeContainer p {
  position: absolute;
  border: 1px solid black;
  height: 100%;
  width: 100%;
  text-align: center;
}

body #gamePlay .playerContainer .lifeContainer .life {
  background-color: #14d400;
  height: 100%;
}

body #gamePlay .playerContainer .stats {
  width: 300px;
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
}

body #gamePlay .playerContainer .stats p {
  position: absolute;
  border: 1px solid black;
  height: 100%;
  width: 100%;
  text-align: center;
  height: 22px;
}

body #gamePlay .playerContainer .stats .level {
  background-color: #1ba5c4;
  height: 22px;
}

body #gamePlay #monster {
  width: 300px;
  display: flex;
  justify-content: end;
  margin-bottom: 72px;
  align-items: center;
  flex-direction: column;
}

body #gamePlay #monster #ascii-gobelin, body #gamePlay #monster #ascii-zombie, body #gamePlay #monster #ascii-skeleton {
  display: none;
}

body #gamePlay #monster #ascii-gobelin.active, body #gamePlay #monster #ascii-zombie.active, body #gamePlay #monster #ascii-skeleton.active {
  display: block;
}

body #gamePlay #monster #monsterStats {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

body #gamePlay #monster #monsterStats .username {
  width: 100%;
  text-align: center;
}

body #gamePlay #monster #monsterStats .lifeContainer {
  width: 100%;
  display: flex;
  position: relative;
  height: 22px;
}

body #gamePlay #monster #monsterStats .lifeContainer p {
  position: absolute;
  border: 1px solid black;
  height: 100%;
  width: 100%;
  text-align: center;
}

body #gamePlay #monster #monsterStats .lifeContainer .life {
  background-color: #ed615f;
  height: 100%;
}
